body {
    background-color: rgb(55, 55, 55) ;
    font-family: Futura;
}

.flexCatz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    height: 100vh;
}

img {
    border: 1px solid rgb(9, 255, 214);
    border-radius: 15px;
}

button {
    background-color: rgb(9, 255, 214);
    font-family: Futura;
    border-radius: 5px;
}

input {
    padding: 8px;
    border: 1px solid rgb(9, 255, 214);
    border-radius: 5px;
    font-family: Futura;
    background-color: rgb(55, 55, 55); 
    color: rgb(9, 255, 214); 
}



h2 {
    font-size: 25px;
    color: rgb(9, 255, 214);
}